/* App.css
body {
  background-color: #f8f9fa;
}

.title {
  color: #007bff;
  animation: fadeIn 2s ease-in-out;
}

.subtitle {
  color: #495057;
  animation: fadeIn 2s ease-in-out;
}

.image {
  transition: transform 1.5s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}

.section-title {
  color: #007bff;
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: fadeInUp 2s ease-in-out;
}

.section-text {
  color: #495057;
  font-size: 1.2em;
  animation: fadeInUp 2s ease-in-out;
}

.features-list li {
  font-size: 1.1em;
  color: #343a40;
  animation: fadeInUp 2s ease-in-out;
}

.contact-btn {
  animation: bounceIn 2s ease-in-out;
}

.footer {
  color: #6c757d;
  animation: fadeIn 2s ease-in-out;
}

.machine-type {
  overflow: hidden;
  display: inline-block;
  animation: typeIn 5s steps(20, end) infinite;
}

@keyframes typeIn {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
  }

  40%,
  60% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0);
  }

  80% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0);
  }
} */
